@charset "UTF-8";
/* CSS Document */

/*============================================
全般的なスタイル
============================================*/
* {
	line-height:1.5;	/*全要素の行の高さを1.5倍にする*/
	font-style:normal;			 /*フォントスタイルを標準にする*/

}
#header a:hover {
    text-shadow: 5px 5px 5px #cacaca;
}
body {
	background-color:#ffffff;	/*ページ全体の背景色*/
}

body {
    margin: 0;
}

.backgroud {
    background: url(../assets/homepage/WechatIMG581.jpeg) no-repeat scroll center 0 transparent;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    height:100%;
    width:100%;
    position:absolute;
    z-index: -1;
}

div#pagebody {
    min-height: 700px;
    width:850px;
	margin:0 auto;
	text-decoration:none;
}

/*見出し１*/
h {
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-weight: 900;
	font-size:20px;        /*フォントサイズ*/
	color:#6787b0;		/*文字色*/
}


/*見出し２*/
h2 {
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-weight: 700;
	font-size:15px;        /*フォントサイズ*/
	color:#6787b0;		/*文字色*/
}


/*文字*/
p {
	line-height:1.3;	/*全要素の行の高さを◯倍にする*/
	font-style:normal;			 /*フォントスタイルを標準にする*/
	font-size:14px;        /*フォントサイズ*/
	color:#000000;		/*文字色*/
}


/*色違い文字*/
span {
	line-height:1.3;	/*全要素の行の高さを◯倍にする*/
	font-style:normal;			 /*フォントスタイルを標準にする*/
	font-size:14px;        /*フォントサイズ*/
	color:#6787b0;		/*文字色*/
}

/*線*/
hr{
border:none;
border-top:dashed 3px #6787b0;
height:1px;     /*破線の間隔*/
color:#FFFFFF;
width:500px; margin:0 auto;	/*内容全体をセンタリング*/
}

a:link { color:#6787b0;
         text-decoration: none; }
a:visited { color: #6787b0;
         text-decoration: none; }
a:hover { color: #FFCC99;
         text-decoration: none; }
a:active { color: #FFCC99;
         text-decoration: none; }

/*============================================
サイドメニュー
============================================*/
#sidemenu ul{
margin: 0;
padding: 0;
list-style: none;
}
#sidemenu li{
display: inline;
padding: 0;
margin: 0;
}
#sidemenu li a{
display: block;
border: 1px solid #FFF;
background-color: #c6e1ef;
padding: 3px 10px;
text-decoration: none;
color: #336699;
width: 200px;
margin: 10px 0px;
text-align: left;
font-size: 14px;
font-weight: 700;
font-color:#633;
font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif
}
#sidemenu li a:hover{
border: 1px solid #FFF;
background-color: #b0c4de;
}

/*============================================
表
============================================*/

td {
	line-height:1.3;	/*全要素の行の高さを◯倍にする*/
	font-style:normal;			 /*フォントスタイルを標準にする*/
	font-size:14px;        /*フォントサイズ*/
	color:#FFFFFF;		/*文字色*/
}

/*============================================
ヘッダ
============================================*/
div#header {
}

.ekuralogo {
	padding:20px 20px 0px 20px;}

/*============================================
フッタ
============================================*/
.footer-content {
    position: relative;
    max-width: 50em;
    margin: 0 auto;
    padding: 0 1.6875em;
    z-index: 10;
    margin-top: 50px;
}
#legal {
    display: block;
    clear: both;
    font-size: 0.7em;
    text-align: center;
    margin: 0 1.1875em;
    padding-top: 20px;
    padding-bottom: 10px;
}
.footer-tab.contact-us {
    text-align: left;
}

.footer-tab {
    float: left;
    width: 33.33%;
}
#footer h3 {
    margin: 1em 0 0 0;
    padding: 0;
}
#footer p {
    margin: 0;
    padding: 0;
    color: #5065BD;
    font-size: 1em;
    font-weight: 800;
}
#footer a {
    color: #21ffe2;
    display: inline-block;
    text-decoration: none;
}
.footer-tab.location {
    text-align: right;
}

.xj-footer123 {
    position: relative;
}

#gfooter {
    background-color: #f6f9fa;
}
.foot {
    /* background: #fff; */
    /* color: #000; */
    font: 12px/20px "微软雅黑","宋体";
    min-width: 960px;
    margin: 0 auto;
    text-align: left;
}

.foot_dark {
    background-color: #f6f9fa;
    /* color: #494949; */
    color: #7b7b7b;
}

#gfooter .foot_top {
    background-color: #1e2628;
}

#gfooter .foot_cpright {
    padding: 50px 0 150px;
    width: 1000px;
    margin: 0 auto;
}

.healthy {
    clear: both;
    background: #1e2628;
    padding: 8px 3%;
    text-align: center;
    color: #4f5f5f;
}

.foot_lefts {
    position: absolute;
    margin-top: 45px;
    top: 0;
    width: 500px;
    float: left;
    display: inline;
}

.foot_links {
    display: inline;
    float: right;
    list-style: none;
}

.healthy strong {
    margin: 0 5px 0 0;
}

.foot_ieg_logo {
    float: left;
    /* width: 180px; */
    width: 300px;
    height: 135px;
    text-indent: -999em;
    overflow: hidden;
    margin: 10px 0 0 10px;
    /* background: url(//game.gtimg.cn/images/js/2018foot/logo/foot-light.png); */
}

.foot_dark .foot_ieg_logo {
    width: 300px;
    padding-left: 100px;
    display: inline-block;
    background: url(../assets/homepage/WechatIMG355.png);
    background-size: 30%;
    background-repeat: no-repeat;
}

#gfooter .gfooter_selflogo {
    width: 109px;
    /* background-image: url(//game.gtimg.cn/images/wuxia/web201501/nav-copy.png); */
    /* background: url(/static/home/images/common/logo.png); */
    background-size: 70%;
    background-repeat: no-repeat;
}

.foot_left {
    float: left;
    text-indent: -999em;
    overflow: hidden;
    margin: 10px 0 0 10px;
    width: 85px;
    height: 35px;
}

.foot_links .link_map {
    font-size: 0;
}
.foot_right {
    position: absolute;
    right: 273px;
    top: 0;
}
.foot_links {
    margin-top: 30px;
}

.foot_links li {
    line-height: 20px;
    overflow: hidden;
}

.foot_links li {
    line-height: 20px;
    overflow: hidden;
}

.foot_dark a {
    color: #7b7b7b;
}

.span_line {
    color: #7b7b7b;
    font-size: 12px;
}

.f_line {
    margin: 0 2px;
}

.foot_logo {
    display: inline-block;
    vertical-align: middle;
}

.foot_text {
    display: inline-block;
    vertical-align: middle;
    font-size: 35px;
    margin-left: 25px;
    color: #ccc;
}
